* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('angelclothy.gif');
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
 color: rgb(255, 190, 116) ;
 text-align: center;
 text-decoration: solid;
 -webkit-text-stroke: 1px;
 -webkit-text-stroke-color: black;
 font-family: 'Courier New', Courier, monospace;

}
.nav {
    width: 80%;
    height: 50px;
    background-color: rgb(255, 190, 94);
    margin: 0px auto;
}
.nav{
    width: 805;
    height: 50px;
background-color: rgb(255, 178, 133);
margin: 20px auto;
}
.nav ul {
    list-style-type: none;
}
.nav ul li {
    float: left;
    width: 155px;
font-size:20px;
text-align: center;
}
.nav ul li a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    line-height: 50px;
    display:block;
}
.nav ul li ul li{
background-color: rgb(255, 178, 133);
border: none;
display: none;
}
.nav ul li:hover ul li {
display: block; 
}
.nav ul li a:hover {
    background-color: rgba(255, 0, 0, 0.582);
    color:black;
}
